<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.fourcast"
        versionCode = "1" 
        version     = "1.0.0" >
 
    <!-- versionCode is Android only -->
    <!-- version is in major.minor.patch format --> 
    <name>4Cast</name>
 
    <description>
        How hot could it possibly be?
    </description>
 
    <author href="http://www.bistrachilikova.byethost32.com" email="bistra.chilikova@abv.bg">
        Bistra Chilikova
    </author>


     <icon src="icon.png" />       
        
   <allow-navigation href="*" />
    <allow-intent href="*" />
    <access origin="*" />
</widget>
